<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Ajedrez Nómada</li>
      <li><a href="#">Torneos</a></li>
      <li><a href="#">Noticias</a></li>
      <li>
        <a href="#">Contacto</a>
        <ul class="menu vertical">
          <li><a href="#">Teléfono(238-3921742)</a></li>
          <li><a href="#">Email(kerno.da.neo@gmail.com)</a></li>
          <li><a href="#">Ubicación</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
        <li><input id="welcome" type="search" placeholder="Escribe tu nombre"></li>
        <li><button id="welcome-button" type="button" class="button">Hola!</button></li>
    </ul>
  </div>
</div>
