<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"><a href="/">Ajedrez Nómada</a></li>
      <li><a href="#">Torneos</a></li>
      <li><a href="#">Noticias</a></li>
      <li>
        <a href="#">Contacto</a>
        <ul class="menu vertical">
          <li><a href="tel:2382184781">Teléfono(2382184781)</a></li>
          <li><a href="mailto:kerno.da.neo@gmail.com?Subject=Contacto%AjedrezNomada">Email(kerno.da.neo@gmail.com)</a></li>
          <li><a href="https://goo.gl/maps/dAEpMcJ1tKR2" target='_blank'>Ubicación</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
        <li><input id="welcome" type="search" placeholder="Escribe tu email"></li>
        <li><button id="welcome-button" type="button" class="button">Suscríbete</button></li>
    </ul>
  </div>
</div>
