{% extends "base.html" %}
{% load tz %}
{% block title %}{{ object.title }}{% endblock title %}
{% block content %}
  <div class="grid-x grid-margin-x hero-padding">
    <article class="cell medium-6 medium-offset-3">
      <div class="radius bordered card shadow">
        <img src="https://picsum.photos/500/225/?random">
        <div class="card-divider">
          <a href="{% url 'blog:post-detail' post.permanent_url %}">{{post.title|upper}}</a>
        </div>
        <div class="card-section">
          <h4><small>{{post.author|title}} - <span title="Creado el {{post.created_at|timezone:"America/Mexico_City"}}">{{post.created_at|timezone:"America/Mexico_City"}}</span></small></h4>
          <p>{{ object.description }}</p>
          <p>{{post.content|safe}}</p>
          {% if post.category %}
            <p>{{post.category}}</p>
          {% endif %}
        </div>
      </div>
    </article>
    <article class="cell medium-6 medium-offset-3">
      <button type="button" class="button rounded bordered shadow secondary">Regresar</button>
    </article>
  </div>
{% endblock content %}
