{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block title %}Ajedrez Nómada{% endblock title %}
{% block content %}
  <section class="grid-container fluid">
    <div class="grid-x grid-margin-x bg-scooter hero-padding">
      <div class="cell small-x">
        <h1>Bienvenido al Club de Ajedrez Nómada</h1>
      </div>
    </div>
  </section>
  <section class="grid-container fluid">
    <div class="grid-x grid-margin-x hero-padding">
      {% if blog_posts %}
      <article class="cell small-12"><h3 class="text-center">Últimos posts</h3></article>
        {% for post in blog_posts %}
          <article class="cell medium-4">
            <div class="radius bordered card shadow">
              <img src="https://loremflickr.com/500/225/chess" alt="Imágen de {{post.description}}">
              <div class="card-divider">
                <a href="{% url 'blog:post-detail' post.permanent_url %}">{{post.title|upper}}</a>
              </div>
              <div class="card-section">
                <h4><small>{{post.author|title}} - <span title="Creado el {{post.created_at|timezone:"America/Mexico_City"}}">{{post.created_at|timezone:"America/Mexico_City"}}</span></small></h4>
                <p>{{post.description}}</p>
                <p>{{post.content|safe}}</p>
                {% if post.category %}
                  <p>{{post.category}}</p>
                {% endif %}
              </div>
            </div>
          </article>
        {% endfor %}
      {% endif %}
    </div>
  </section>
{% endblock content %}
{% block jsblock %}
  <script src="https://cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
{% endblock jsblock %}
